<ion-header>
  <ion-toolbar>
    <ion-title>
      GPT Asistente Audio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="chat-container">
    <ion-list>
      <ion-item *ngFor="let chatMessage of chatMessages">
        <div [ngClass]="{'chat-bubble': true, 'user-bubble': chatMessage.role === 'user', 'gpt-bubble': chatMessage.role === 'GPT'}">
          {{ chatMessage.content }}
        </div>
      </ion-item>
    </ion-list>
  </div>

  <div class="center-container">
    <ion-button shape="round" (click)="startRecording()" *ngIf="!isRecording">
      <ion-icon name="mic"></ion-icon>
    </ion-button>

    <ion-button shape="round" (click)="stopRecording()" *ngIf="isRecording">
      <ion-icon name="stop"></ion-icon>
    </ion-button>
  </div>
</ion-content>
