<ion-header>
  <ion-toolbar>
    <ion-title>
      Grabación de Audio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="chat-container">
    <ion-list>
      <!-- Mostrar mensajes del chat aquí -->
      <!-- <ion-item *ngFor="let message of chatMessages"> -->
      <ion-item>
        <!-- {{ message }} -->
      </ion-item>
    </ion-list>
  </div>

  <div class="center-container">
    <!-- Botón circular con el símbolo de micrófono -->
    <ion-button shape="round" (click)="startRecording()" *ngIf="!isRecording">
      <ion-icon name="mic"></ion-icon>
    </ion-button>

    <!-- Botón de detener grabación -->
    <ion-button shape="round" (click)="stopRecording()" *ngIf="isRecording">
      <ion-icon name="stop"></ion-icon>
    </ion-button>

    <!-- Botón para reproducir la última grabación -->
    <ion-button shape="round" (click)="playLastRecording()" *ngIf="!isRecording && audioFile !== null">
      <ion-icon name="play"></ion-icon>
    </ion-button>
  </div>
</ion-content>

